<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">


<head>
    <title>Notifications config</title>
</head>

<body>
	
	
<h2>Setup notifications</h2>



<form th:action="@{/useracc/{id}/notification/notify(id=${account.getId()})}">
	
	
	<table>
		<tr th:each="notification : ${notifications}">
			<td>
				<input span th:text="${notification.key}" name="key" placeholder="key"
					th:hidden="true"></input>

			</td>
			<td>
				<input type="checkbox" th:checked="${notification.value}"
					name="check" placeholder="check">
			</td>
		</tr>
	</table>


	<input type="submit" value="Submit">
</form>

</body>

</html>
    