<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">


<head>
    <title>Users</title>
</head>

<body>
<h2>Clients</h2>

<table style="width:700px"
        border="1px solid black">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>

    <tr th:each="user: ${users}">
        <td>
            <p th:text="${user.getId()}"
            	th:href="@{{id}(id=${user.getId()})}"/>
        </td>

        <td>
           <a th:text="${user.getFirstName()} + ' '+ ${user.getLastName()}"
                th:href="@{{id}(id=${user.getId()})}"/>
        </td>

        <td>
            <p th:text="${user.getEmail()}"/>
        </td>

    </tr>

</table>

<p/>

<form th:action="@{/users/new}">
    <button>
        Add new user
    </button>
</form>



</body>

</html>
