<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">


<h2>User info</h2>

<table style="width:300px"
        border="solid black">

    <tr>
        <th>Id</th>
        <td th:text="${account.getId()} "> ID </td>
    </tr>

    <tr>
        <th>Login</th>
        <td th:text="${account.getLogin()}"> Login </td>
    </tr>
        <tr>
        <th>Email</th>
        <td th:text="${account.getEmail()}"> Email </td>
    </tr>


</table>

</div>

<p/>

<a th:href="@{/account/all}">
    <button>Exit</button>
</a>

<p/>


</body>

</html>
