<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">


<head>
    <title>Accounts</title>
</head>

<body>
<h2>Registered Accounts</h2>

<table style="width:700px"
        border="1px solid black">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Status</th>
    </tr>

    <tr th:each="account: ${listOfAccounts}">
        <td>
            <a th:text="${account.getId()}"
            	th:href="@{{id}(id=${account.getId()})}"/>
        </td>

        <td>
           <a th:text="${account.getName()}"
                th:href="@{{id}(id=${account.getId()})}"/>
        </td>

        <td>
            <p th:text="${account.getEmail()}"/>
        </td>
        
        <td>
            <p th:text="${account.getPassword()}"/>
        </td>

        <td>
            <p th:text="${account.getStatus()}"/>
        </td>

        
        
        

    </tr>

</table>

<p/>

<a th:href="@{/main}">
    <button>Main page</button>
</a>

</body>

</html>
